.index-box {
    width     : 100vw;
    height    : 100%;
    text-align: center;
    box-sizing: border-box;
}

/* 顶部 */
.index-title {
    width      : 100%;
    height     : 1rem;
    background : #007af5;
    position   : relative;
    top        : 0;
    left       : 0;
    overflow   : hidden;
    line-height: 1rem;
    color      : #fff;

}

.index-title span {
    font-size: 0.4rem;
}

.index-title .icon-wode {
    position : absolute;
    right    : 0.2rem;
    font-size: 0.5rem;
}

.index-title .icon-gengduo {
    position : absolute;
    left     : 0.2rem;
    font-size: 0.5rem;
}

/* 搜索 */
.index-search {
    display        : flex;
    justify-content: space-between;
    position       : relative;
    padding        : 0.3rem;
}

.index-search input {
    width        : 4rem;
    height       : 0.7rem;
    border-radius: 0.2rem;
    border       : 1px solid #ccc;
    padding-left : 0.5rem;
}

.index-search .icon-RectangleCopy2 {
    position: absolute;
    top     : 0.5rem;
    left    : 0.45rem;
}

.index-search a {
    display      : block;
    background   : #007af5;
    color        : #fff;
    padding      : 0 0.3rem;
    border-radius: 0.15rem;
    line-height  : 0.7rem;
}

/* 轮播图 */
.slider-slide img {
    width : 100vw;
    height: 3rem;
}

.index-lbt {
    width : 100vw;
    height: 3rem !important;
}

.am-wingblank {
    height: 3rem !important;
}

.am-wingblank .slider {
    height: 3rem !important;
}

.am-wingblank .slider .slider-frame {
    height: 3rem !important;
}

.slider-list {
    height: 3rem !important;
}

/* 天气，星期 */
.index-center {
    width             : 100%;
    height            : 1.5rem;
    /* background     : #f5f5f5; */
    display           : inline-flex;
    justify-content   : space-between;
    padding-left      : 1.2rem;
    padding-right     : 0.4rem;
    box-sizing        : border-box;
    position          : relative;
    color             : #333;
}

.index-center .center-left {
    padding-top: 0.4rem;
    text-align : left;
}

.index-center .center-right {
    padding-top: 0.4rem;
}

.index-center .icon-tianqi {
    position : absolute;
    left     : 0.2rem;
    top      : 0.2rem;
    font-size: 0.8rem;
    color    : #007af5;
}

/* 路由图标 */
.index-router {
    width        : 100%;
    /* height    : 2.4rem; */
    box-sizing   : border-box;

}

.index-router .router-logo {
    display   : inline-block;
    width     : 2.10rem;
    height    : 1.8rem;
    border    : 1px solid #ccc;
    font-size : 0.16rem;
    background: #fff;
}

.router-logo div {
    height       : 60%;
    width        : 60%;
    margin       : 0.2rem auto;
    border-radius: 50%;

}

.router-logo:nth-child(1) div {
    background: #fd904d;
}

.router-logo:nth-child(2) div {
    background: #89d439;
}

.router-logo:nth-child(3) div {
    background: #02a6ed;
}

.router-logo:nth-child(4) div {
    background: #4fd3be;
}

.router-logo:nth-child(5) div {
    background: #f2c40c;
}

.router-logo:nth-child(6) div {
    background: #f96563;
}

.router-logo div .iconfont {
    font-size  : 0.7rem;
    line-height: 1.15rem;
    color      : #fff;
}

/* 侧边栏 */
.menu-box {
    width : 100vw;
    height: 100%;
}

.msk {
    width        : 100vw;
    height       : 100%;
    background   : rgba(0, 0, 0, 0.5);
    position     : fixed;
    top          : 0;
    /* left      : -100vw; */
    transition   : all 0.4s;
}

.menu {
    width     : 40%;
    height    : 100%;
    background: #007af5;
    position  : absolute;
    left      : 0;
    top       : 0;
    padding   : 0.3rem;
    color     : #fff;
}

.menu-user {
    width         : 100%;
    /* height     : 0.98rem; */
    line-height   : 0.98rem;
    margin-top    : 0.5rem;
}

.menu-user img {
    width        : 0.98rem;
    height       : 0.98rem;
    border-radius: 50%;
    margin-right : 0.2rem;
}

.menu-list {
    text-align: center;
    margin-top: 0.5rem;
}

.menu-list li {
    margin       : 0.3rem;
    border       : 1px solid #fff;
    border-radius: 0.3rem;
    padding      : 0.1rem;
}

.menu-list li a {
    color: #fff;
}